[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tmux"]
	path = .tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux
[submodule ".tmux/plugins/vim-tmux-navigator"]
	path = .tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".omz-custom/themes/powerlevel10k"]
	path = .omz-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
